

<aside>
  <p class="caption">main</p>
 <div class="aside-item active">
   <div class="aside-item-content">
     <div>
      <i class="fa fa-dashboard"></i>
      <p class="head-item">dashboard </p>
     </div>

    <i class="fa fa-angle-down"></i>  </div>
   <p class="one-word">admin dashboard </p>
   <p class="">employee dashboard</p>

</div>

<div class="aside-item">
  <div class="aside-item-content">
    <div>
      <i class="fa fa-cube"></i>
      <p class="head-item">apps</p>
    </div>

    <i class="fa fa-angle-left"></i>
  </div>
</div>

<div class="aside-item">
  <div class="tow-item">
    <i class="fa fa-users"></i>
     <p >users</p>
  </div>
</div>
<div class="aside-item">
  <div class="tow-item">
   <i class="fa fa-rocket"></i>
   <p>projects </p>
  </div>
</div>
<div class="aside-item">
  <div class="tow-item">
    <i class="fa fa-user-secret"></i>
    <p>leaders </p>
   </div>
</div>
<div class="aside-item">
  <div class="tow-item">
    <i class="fa fa-ticket"></i>
    <p>tickets </p>
   </div>
</div>
<p class="caption">HR</p>

<div class="aside-item">
  <div class="aside-item-content">
    <div>
      <i class="fa fa-copy"></i>
       <p class="head-item">accounts</p>
    </div>

    <i class="fa fa-angle-left"></i>
  </div>
</div>
<div class="aside-item">
  <div class="aside-item-content">
    <div>
      <i class="fa fa-money"></i>
      <p class="head-item">payroll</p>
    </div>
    <i class="fa fa-angle-left"></i>
  </div>
</div>
<div class="aside-item">
  <div class="aside-item-content">
      <p class="head-item">employee salary</p>
  </div>
</div>
<div class="aside-item">
  <div class="aside-item-content">
    <div>
      <i class="fa fa-copy"></i>
       <p class="head-item">accounts</p>
    </div>  </div>
</div>
<div class="aside-item">
  <div class="aside-item-content">
    <div>
      <i class="fa fa-money"></i>
      <p class="head-item">payroll</p>
    </div>
   </div>
</div>
<p class="caption">employees</p>
  <div class="">

    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
          <span><i class="fa fa-user"></i></span>
            <span>Employees</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>all employess</p>
        <p>holidyies</p>
        <p>department</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
<div class="aside-item">
  <div class="aside-item-content">
    <div>
      <i class="fa fa-money"></i>
      <p class="head-item">payroll</p>
    </div>
   </div>
</div>
<div class="aside-item">
  <div class="aside-item-content">
    <div>
      <i class="fa fa-money"></i>
      <p class="head-item">payroll</p>
    </div>
   </div>
</div>
</aside>
