

<section class="container">
  <div class="header-department">
    <div>
      <h1>departments</h1>
      <h4>dashboard /
        <span>department</span>
      </h4>
    </div>
    <div class="add-department-container">
      <button class="btn departmentBtn" data-target="#exampleModal" data-toggle="modal">
        <span>add  department</span>
      <i class="fa fa-plus"></i>
       </button>
    </div>
  </div>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="modal-title" id="exampleModalLabel">Add Department</h1>

        <div class="department-input-box">
           <label for="name">English Name*</label>
           <input type="text" class="form-control">
        </div>
        <div class="department-input-box">
             <label for="name">Arabic Name*</label>
             <input type="text" class="form-control">
        </div>
        <button class="form-control text-center btn btn-success">submit</button>
      </div>

    </div>
  </div>
</div>
<!-- <div >
  <input type="search" class="form-control" placeholder="search here">
  <button >send</button>
</div> -->


<section class="table-contaier">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">depart name English</th>
      <th scope="col">depart name Arabic</th>
    </tr>
  </thead>
  <tbody class="">
    <tr>
      <th scope="row">1</th>
      <td>web development 1</td>
      <td> 1 ويب ديفيلوبمنت</td>
    </tr>
    <tr class="bg-light">
      <th scope="row">2</th>
      <td>web development 2</td>
      <td> 2 ويب ديفيلوبمنت</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>web development 3</td>
      <td> 3 ويب ديفيلوبمنت</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>web development 4</td>
      <td> 4 ويب ديفيلوبمنت</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>web development 5</td>
      <td> 5 ويب ديفيلوبمنت</td>
    </tr>
  </tbody>
</table>


</section>


</section>


